---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import AnimatedHero from '../components/AnimatedHero.jsx';
import AnimatedAbout from '../components/AnimatedAbout.jsx';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import AnimatedProjects from '../components/AnimatedProjects.jsx';
import AnimatedContact from '../components/AnimatedContact.jsx';
import Footer from '../components/Footer.astro';
---

<Layout title="Alejandro Arouesty">
	<Navigation />
	<main>
		<AnimatedHero client:load />
		<AnimatedAbout client:load />
		<Experience />
		<Skills />
		<AnimatedProjects client:load />
		<AnimatedContact client:load />
	</main>
	<Footer />
</Layout>
